<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{base :: layout (~{::body},'log')}">
<head>
    <meta charset="UTF-8">
    <title>Rental logs - Transport Rental</title>
</head>
<body>
    <section class="px-5 py-3 text-center">
        <h3>Rental logs</h3>
        <table class="table w-75 mx-auto mt-5">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer ID</th>
                <th>Transport ID</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rentalLog:${rentalLogs}">
                <td th:text="${rentalLog.getId()}">-</td>
                <td th:text="${rentalLog.getCustomer().getId()}">-</td>
                <td th:text="${rentalLog.getTransport().getId()}">-</td>
                <td th:text="${rentalLog.getRentStartString()}">-</td>
                <td th:text="${rentalLog.getRentEndString()}">-</td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>